<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.gmariotti.android.examples.antipattern"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="it.gmariotti.android.examples.antipattern.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
         <activity
            android:name="it.gmariotti.android.examples.antipattern.FreezingActivity"
            android:label="@string/title_freezing_receiver"
            android:parentActivityName="it.gmariotti.android.examples.antipattern.MainActivity" >
             <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="it.gmariotti.android.examples.antipattern.MainActivity" />
        </activity>
        
         <activity
            android:name="it.gmariotti.android.examples.antipattern.AsyncFreezingActivity"
            android:label="@string/title_freezing_asynctask"
            android:parentActivityName="it.gmariotti.android.examples.antipattern.MainActivity" >
             <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="it.gmariotti.android.examples.antipattern.MainActivity" />
        </activity>
        
    </application>

</manifest>